body {
    margin: 0;
    padding: 0;
}

header {
    background-color: beige;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 10px;
}

form {
    background-color: grey;
    width: 100%;
    padding: 20px 0;
}

button {
    padding: 5px 0;
    width: 100%;
    background-color: green;
    font-size: 20px;
}

main {
    width: 100%;
    height: 700px;
    padding: 0 0 30px 0;
    background-color: antiquewhite;
}

footer {
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: beige;
    margin: 0 auto;
    bottom: 0;
}

h2 {
    background-color: yellow;
}
.title{
    text-align: center;
    background-color: transparent;
}
.input{
    width: 100%;
    padding: 5px 0 ;
}